.header{
    background-color: blueviolet;
}
.top-buffer{
    margin-top : 20px;
}
.img{
    height:100px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.border{
    border-style: double;
}